<div class="topBar">
    <a [routerLink]="''"><img class="logo" src="assets/atlas_logo.png"></a>
    <ul>
        <a class="db" [routerLink]="''">HOME</a>
        <a class="db" *ngFor="let db of dbNames" [routerLink]="['/db', db.dbname]">{{ db.dbname }}</a>
    </ul>
    <span>Database & Application monitoring</span>
</div>


